<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-12 col-sm-12">
    <hr /><hr />
    <form (ngSubmit)="onSubmit(f) " #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" ngModel name="username" required/>
      </div>
      <button class="btn btn-info">suggest an user</button>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" ngModel name="email" email required #email="ngModel"/>
        <span class="help-block" *ngIf="!email.valid && email.touched">Enter valid email</span>
      </div>
      <div class="form-group">
        <label for="secret">Secret question</label>
        <select id="secret"class="form-control" ngModel name="secret">
            <option value="pet">Your first pet</option>
            <option value="teacher"> your first teacher</option>
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="questionAnswere" rows="3" [(ngModel)]="answere">{{answere}}</textarea>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!f.valid">submit</button>
    </form>
  </div>
</div>

</div>
